{% extends 'index.html' %}

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/geladeira.css') }}">
    {% endblock %}

    {% block conteudo %}

        <h2 class="title">Área da Geladeira</h2>

        

        <form action="/itens">
            <h3>Ver itens da geladeira:</h3>
            <button type="Submit" class="see-btn">Ver Itens</button>
        </form>
        <div style="margin: 50px;">
            {% for table in tables %}
                {{ table|safe }}
            {% endfor %}
        </div>
        
        {% if tabela %}
            {% block sair %}
            <form action="/geladeira"><button class="close-btn" type="submit">Fechar</button></form>
            {% endblock %}
        {% endif %}

        <div class="temperatura">Temperatura atual: <span class="span-temp">{{temperatura}}C°</span></div>
        
    {% endblock %}