{% extends 'index.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/usuario.css') }}">
{% endblock %}

    {% block conteudo %}
        <h2 class="title">Área do Usuário</h2>
        {% if logado == False %}
        {% block login %}
            {% with mensagens = get_flashed_messages() %}
            <div class="login">
                <form action="/autenticar" method="post">
                    Usuario: <input class="inputtxt" type="text" name="usuario"> <br/>
                    Senha: <input class="inputtxt" type="text" name="senha"> <br/>
                    <button class="login-btn" type="submit">Entrar</button>
                </form>
            </div>
                {% if mensagens %}
                    <div><h3 class="invalido">Usuário ou Senha Inválidos</h3></div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% endif %}
        {% if logado == True %}

            <h1>Usuário <span style="color: blue;">admin</span> logado.</h1>

            <h3>Salvar cartão</h3>
            <form action="/salvar-cartao" method="post">
                Titular do cartão: <input type="text" name="card-name"> <br/> 
                Número do cartão: <input type="text" name="card-num"> <br/>
                Código de segurança: <input type="text" name="card-code"> <br/>
                Validade: <input type="text" name="card-date" id=""> <br/>
                <button type="submit">Salvar</button>
            </form>

            <div style="margin: 50px;">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>

            <div class="deslog-btn">
                <form action="/usuario">
                <button>Sair da conta</button>
                </form>
            </div>
            
        {% endif %}

    {% endblock %}